*.log
.DS_Store
.buildpath
.settings
.project
_$*
vendor
package/*
*.lock
*.env
dist
.idea
web
data
!src/app/code/community/Allopass/Hipay/data
bin/conf/development/hipay.env
bin/tests/result.xml
bin/tests/errors/*
bin/tests/exportVariables.sh
docker-compose.stage-*.yml
src/lib/Hipay/hipay-full-service-sdk-php