web:
  container_name: jira-mg-latest.hipay-pos-platform.com
  build: .
  dockerfile: ./bin/docker/images/php5-6/Dockerfile
  ports:
    - "8095:8095"
  env_file:
    - ./bin/docker/conf/development/hipay.env
    - ./bin/docker/conf/development/mage.env.sample
    - ./bin/docker/conf/development/mysql.env.sample
  volumes:
    - ./src/app/code/community/Allopass:/var/www/htdocs/app/code/community/Allopass
    - ./src/lib/Hipay:/var/www/htdocs/lib/Hipay
    - ./src/app/design/frontend/base/default/template/hipay:/var/www/htdocs/app/design/frontend/base/default/template/hipay
    - ./src/app/design/adminhtml/default/default/template/hipay:/var/www/htdocs/app/design/adminhtml/default/default/template/hipay
    - ./src/skin/adminhtml/base/default/hipay/css:/var/www/htdocs/skin/adminhtml/base/default/hipay/css
    - ./bin/tests:/tmp/tests
    - ./web:/var/www/htdocs
    - ./log:/var/www/htdocs/var/log
  links:
    - mysql
    - smtp
mysql:
  image: mysql:5.7
  ports:
    - "3307:3306"
  env_file:
    - ./bin/docker/conf/development/mysql.env.sample
  volumes:
    - ./data/mysql:/var/lib/mysql

smtp:
  image: hipay/mailcatcher:1.0.0
  ports:
  - "1095:80"

