<!--@subject Votre lien de paiement pour payer votre commande {{var store.getFrontendName()}} @-->
<!--@vars
{"var reason":"Transaction deny Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table>
    <thead>
    <tr>
        <th>Merci pour votre commande sur {{var store.getFrontendName()}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                Cher {{var customer}},
            </p>
            <p>
                Vous avez récemment échangé avec l'un de nos conseillers, et nous vous en remercions.
            </p>
            <p>
                Comme convenu, vous trouverez ci-après un lien spécifique vous permettant de payer immédiatement votre commande, en toute sécurité.
            <p style="font-size:16px">
                <b><a id="pay_order" href="{{var redirectUrl}}">{{var redirectUrl}}</a></b>
            </p>
            <p style="t-size:1">
                De la même manière que sur notre site internet, vos données bancaires sont protégées par le protocole SSL,
                et la transaction est entièrement sécurisée.
            </p>
        </td>
    </tr>
    </tbody>
</table>
{{template config_path="design/email/footer"}}
