<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Allopass_Hipay>
			<version>0.1.4</version>
		</Allopass_Hipay>
	</modules>
	<global>
		<blocks>
			<hipay>
				<class>Allopass_Hipay_Block</class>
			</hipay>
		</blocks>
		<helpers>
			<hipay>
				<class>Allopass_Hipay_Helper</class>
			</hipay>
		</helpers>
		<models>
			<hipay>
				<class>Allopass_Hipay_Model</class>
			</hipay>
		</models>
		<resources>
            <allopass_hipay_setup>
                <setup>
                    <module>Allopass_Hipay</module>
                </setup>
            </allopass_hipay_setup>
        </resources>
        <payment_hipay>
            <cc>
                <types>
                    <AE>
                        <code>AE</code>
                        <code_hipay>amex</code_hipay>
                        <name>American Express</name>
                        <order>0</order>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_hipay>visa</code_hipay>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_hipay>mastercard</code_hipay>
                        <name>MasterCard</name>
                        <order>20</order>
                    </MC>
                    <SM>
                        <code>SM</code>
                        <code_hipay>maestro</code_hipay>
                        <name>Maestro</name>
                        <order>40</order>
                    </SM>
                    <JCB>
                        <code>JCB</code>
                        <code_hipay>jcb</code_hipay>
                        <name>JCB</name>
                        <order>50</order>
                    </JCB>
                    <BCMC>
                        <code>BCMC</code>
                        <code_hipay>bcmc</code_hipay>
                        <name>Bancontact / Mister Cash</name>
                        <order>60</order>
                    </BCMC>
                    <DANKORT>
                        <code>DANKORT</code>
                        <code_hipay>dankort</code_hipay>
                        <name>Dankort</name>
                        <order>70</order>
                    </DANKORT>
                    <ECARTE-BLEUE>
                        <code>ECARTE-BLEUE</code>
                        <code_hipay>ecarte-bleue</code_hipay>
                        <name>e-Carte Bleue</name>
                        <order>80</order>
                    </ECARTE-BLEUE>
                    <DINERS>
                        <code>DINERS</code>
                        <code_hipay>diners</code_hipay>
                        <name>Diners Club International</name>
                        <order>80</order>
                    </DINERS>
                </types>
            </cc>
    	</payment_hipay>
    	<sales>
            <order>
                <statuses>
                    <!-- retained for backwards compatibility, not used after version 1.4.2 -->
                    <pending_capture translate="label"><label>Pending Capture</label></pending_capture>
                    <capture_requested translate="label"><label>Capture Requested</label></capture_requested>
                    <refund_requested translate="label"><label>Refund Requested</label></refund_requested>
                </statuses>
            </order>
        </sales>
	</global>
	<frontend>
		<secure_url>
            <hipay_payment>/hipay/payment</hipay_payment>
        </secure_url>
        <routers>
            <hipay>
                <use>standard</use>
                <args>
                    <module>Allopass_Hipay</module>
                    <frontName>hipay</frontName>
                </args>
            </hipay>
        </routers>
		 <translate>
            <modules>
                <Allopass_Hipay>
                    <files>
                        <default>Allopass_Hipay.csv</default>
                    </files>
                </Allopass_Hipay>
            </modules>
        </translate>
        <layout>
			<updates>
				<hipay>
					<file>hipay.xml</file>
				</hipay>
			</updates>
		</layout>
		<events>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
				<observers>
					<displaySectionCheckoutIframe>
                        <class>hipay/observer</class>
                        <method>displaySectionCheckoutIframe</method>
                    </displaySectionCheckoutIframe>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveOrder>
		</events>
	</frontend>
	<adminhtml>
		 <translate>
            <modules>
                <Allopass_Hipay>
                    <files>
                        <default>Allopass_Hipay.csv</default>
                    </files>
                </Allopass_Hipay>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                    	<hipay>
                                   			<title>Hipay API Configuration</title>
                                    	</hipay>
                                        <payment>
                                        	<children>
	                                        	<hipay_cc translate="title">
	                                            	<title>Hipay Credit Card</title>
	                                            </hipay_cc>
                                        	</children>
                                        </payment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	<default>
		<hipay>
			<hipay_api>			
				<api_password backend_model="adminhtml/system_config_backend_encrypted"/>
				<api_password_test backend_model="adminhtml/system_config_backend_encrypted"/>
				<secret_passphrase backend_model="adminhtml/system_config_backend_encrypted"/>
				<vault_endpoint_stage>https://stage-secure-vault.allopass.com/rest/v1/token/</vault_endpoint_stage>
				<vault_endpoint_production>https://secure-vault.allopass.com/rest/v1/token/</vault_endpoint_production>
				<gateway_endpoint_stage>https://stage-secure-gateway.allopass.com/rest/v1/</gateway_endpoint_stage>
				<gateway_endpoint_production>https://secure-gateway.allopass.com/rest/v1/</gateway_endpoint_production>
			</hipay_api>
		</hipay>
		<payment>
			<hipay_cc>
				<active>0</active>
				<title>Hipay Credit Card</title>
				<payment_action>authorize_capture</payment_action>
				<cctypes>AE,VI,MC</cctypes>
				<useccv>1</useccv>
				<order_status_payment_accepted>processing</order_status_payment_accepted>
				<order_status_payment_refused>canceled</order_status_payment_refused>
				<order_status_payment_canceled>canceled</order_status_payment_canceled>
				<hipay_status_validate_order>118</hipay_status_validate_order>
				<pending_redirect_page>hipay/checkout/pending</pending_redirect_page>
				<allow_use_oneclick>0</allow_use_oneclick>
				<invoice_create>1</invoice_create>
				<re_add_to_cart>0</re_add_to_cart>
				<cancel_pending_order>1</cancel_pending_order>
				<is_test_mode>0</is_test_mode>
				<debug>0</debug>
				<model>hipay/method_cc</model>
				<accept_url>hipay/cc/accept</accept_url>
				<pending_url>hipay/cc/pending</pending_url>
				<decline_url>hipay/cc/decline</decline_url>
				<exception_url>hipay/cc/exception</exception_url>
				<cancel_url>hipay/cc/cancel</cancel_url>
				<use_3d_secure>1</use_3d_secure>
			</hipay_cc>
			<hipay_hosted>
				<active>0</active>
				<title>Hipay Hosted</title>
				<payment_action>authorize_capture</payment_action>
				<cctypes>amex,visa,mastercard</cctypes>
				<order_status_payment_accepted>processing</order_status_payment_accepted>
				<order_status_payment_refused>canceled</order_status_payment_refused>
				<order_status_payment_canceled>canceled</order_status_payment_canceled>
				<hipay_status_validate_order>118</hipay_status_validate_order>
				<pending_redirect_page>hipay/checkout/pending</pending_redirect_page>
				<display_selector>1</display_selector>
				<template>basic</template>
				<allow_use_oneclick>0</allow_use_oneclick>
				<invoice_create>1</invoice_create>
				<re_add_to_cart>0</re_add_to_cart>
				<cancel_pending_order>1</cancel_pending_order>
				<display_iframe>0</display_iframe>
				<is_test_mode>0</is_test_mode>
				<debug>0</debug>
				<model>hipay/method_hosted</model>
				<accept_url>hipay/hosted/accept</accept_url>
				<pending_url>hipay/hosted/pending</pending_url>
				<decline_url>hipay/hosted/decline</decline_url>
				<exception_url>hipay/hosted/exception</exception_url>
				<cancel_url>hipay/hosted/cancel</cancel_url>
				<use_3d_secure>1</use_3d_secure>
			</hipay_hosted>
		</payment>
	</default>
	<crontab>
		<jobs>
			<clean_orders_hipay_in_pending>
				<schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
				<run><model>hipay/observer::cancelOrdersInPending</model></run>
			</clean_orders_hipay_in_pending>		
		</jobs>
	</crontab>
</config>