/**
 *  HOSTED FIELDS
 */
.hosted-fields-form {
    text-align: center;
}

#hipayHF-container-hosted-fields {
    width: 500px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    margin: 10px;
}

#hipayHF-container-hosted-fields span.icon {
    position: relative;
    top: 0.2em;
    margin-right: 0.2em;
}

@media screen and (max-width: 768px) {
    #hipayHF-container-hosted-fields {
        max-width: 500px;
        display: block;
    }
}

@media (min-width: 768px) {
    #hipayHF-container-hosted-fields .actions-toolbar .primary {
        width: 100% !important;
        margin-top: 10px !important;
        float: none !important;
    }
}

.hipayHF-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 0 16px 0;
}

#hipayHF-container {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 365px;
}

#hipayHF-form {
    margin: auto;
    width: 100%;
    max-width: 520px;
}

.hipayHF-field-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    height: 50px;
    margin: 0 10px;
}

.hipayHF-field-container-half {
    width: 50%;
}

.ie9 .hipayHF-field-container-half {
    width: 100%;
    margin-bottom: 16px;
}

.hipayHF-field {
    z-index: 2;
    opacity: 0.001;
    -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: opacity;

    height: 25px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 4px;
    color: #32325d;
    background-color: transparent;
}

@media screen and (max-width: 359px) {
    .hipayHF-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .hipayHF-field-container {
        margin-bottom: 16px;
    }

    .hipayHF-field-container-half {
        width: 100%;
    }
}

.hipayHF-field.HiPayField--focused,
.hipayHF-field:not(.HiPayField--empty) {
    opacity: 1;
}

.hipayHF-field.HiPayField--disabled {
    background-color: #f3f3f3;
}

.hipayHF-label {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 8px;
    color: #cfd7df;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    cursor: text;
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    -o-transition-property: color, transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    text-align: left;
    margin-bottom: 0;
}

.HiPayField--focused + .hipayHF-label,
.hipayHF-field:not(.HiPayField--empty) + .hipayHF-label {
    color: #aab7c4;
    -webkit-transform: scale(0.85) translateY(-25px);
    -ms-transform: scale(0.85) translateY(-25px);
    transform: scale(0.85) translateY(-25px);
    cursor: default;
}

.HiPayField--focused + .hipayHF-label,
.HiPayField--focused + .hipayHF-label svg {
    color: #00ADE9 !important;
    fill: #00ADE9 !important;
}

.HiPayField--focused + .hipayHF-baseline {
    color: #00ADE9 !important;
}

.HiPayField--invalid + .hipayHF-label {
    color: #D50000 !important;
}

.hipayHF-baseline {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #cfd7df;
    /*background-color: #cfd7df;*/
    -webkit-transition: border-bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: border-bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: border-bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.HiPayField--focused + .hipayHF-label + .hipayHF-baseline {
    border-bottom: solid 1px #00ADE9;
}

.HiPayField--invalid + .hipayHF-label + .hipayHF-baseline {
    border-bottom: solid 1px #D50000;
}

.HiPayField--disabled + .hipayHF-label + .hipayHF-baseline {
    border-bottom: dotted 1px #cfd7df;
}

#hipayHF-help-cvc {
    font-size: 14px;
    padding: .75rem 1.25rem;
    margin-top: 4px;
    border-radius: .25rem;
    color: #856404;
    background-color: #fff3cd;
    border: solid 1px #ffeeba;
    display: none;
}

#hipayHF-help-cvc.visible {
    display: block;
}

#hipayHF-error-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    color: #D50000;
    font-size: 15px;
    line-height: 18px;
    text-align: center
}
